body {
    font-family: 'Gilda Display', serif;
    color:bisque;
    background:rgb(12, 12, 12);
    padding:5px;
}

#location{
    text-align:right;
    
}

h2{
    font-weight:normal;
    padding:30px;
    font-size:1rem;
}

.uptown, .midtown, .downtown, .brooklyn{
    display:inline-block;
    font-size:1rem;
    padding:10px;
}

h3{
   padding:30px;
   font-weight:bold;
}

.coffee-container{
    padding:1rem;
    border: 1px solid bisque;
    width:0.01px;
    height:0.01px;
    border-radius:50%;
    display:inline-block;
}

.store-image {
   display:none;
}

.store-image.active{
    display:block;
  
}

.address-location {
    display:none;
    width:100%;
}

.address-location.active{
    display:block;
}

.shop-title{
    display:none;
    width:100%;
}

.shop-title.active{
    display:block;
  
}

.yaxis{
    width:1px;
    background:bisque;
    height:70vh;
}

.container{
    display:inline;
    margin-left:50px;
}

.line {
    display:block;
    line-height:200%;
}

.eightyfive, .eighty, .seventyfive, .seventy, .sixtyfive, .sixty, .fiftyfive, .fifty .fourtyfive, .fourty, .thirtyfive, .thirty, .twentyfive, .twenty, .fifteen, .ten, .five, .hundred, .ninetyfive, .ninety, .eightyfive0{
    display:list-item;
    list-style:none;
}

.filter {
    position:fixed;
    bottom:20px;
    text-align:right;
    font-size:1.5rem;
}

.innergroup {
    display:flex;
}


.title{
    display:inline-block;
}

.filtermenu {
    display:inline-block;
    text-align:right;
    position:relative;
    right:0px;
}

.header {
    display:flex;
}

.filtermain{
    position:absolute;
    right:10px;
    top:30px;
}

.sidebar {
    padding-top:15px;
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color:#A8947C;
    overflow-x:hidden;
    transition:0.5s;
}

.sidebar a {
    font-size:20px;
    padding:8px 8px 8px 32px;
    text-decoration:none;
    color:black;
    display:block;
    transition:0.2s;
}

button{
    background-color:transparent;
    border:none;
    color:bisque;
    font-family:'Gilda Display', serif;
    font-size:1.5rem;
    position:absolute;
    right:10px;
    top:30px;
}

.category{
    padding:40px;
    line-height:150%;
}

.closebtn {
    text-align:right;
    margin-right:20px;
}



.coffee-description{
    width:40%;
    height:auto;
    background-color:#A8947C;
    color:black;
    position:absolute;
    margin-left: 300px;
    z-index:100;
    margin-top:150px;
}

.store-image{
    width:30%;
    padding:30px;
    position:absolute;
    top:0;
    right:0;
}

.location{
    text-align:right;
    display:flex;
    position:fixed;
    bottom:20px;
    right:10px;
}

.openbtn{
    position:fixed;
}

a {
    text-decoration:none;
    color:bisque;
}