h1{
    text-align:center;
}

#download_canvas{
    border:1px solid black;
    margin-top:50px;
    text-align: center;
    z-index:10;
}

.container{
    display:flex;
    justify-content: center;
    z-index:10;
}


.button_container{
    display:flex;
    justify-content:right;
}

#clr{
    display:inline-block;
}

#result{
    position:absolute;
    margin-top:auto;
    margin-bottom:auto;
}

.greetings{
    display:flex;
    justify-content:center;
    position:absolute;
    top:200px;
    left:500px;
    z-index:20;
}

p{
    width:70%;
    text-align:center;
}

