body{
  background:black;
  font-family:Palatino, Literata, Times;

}

#text{
    color:white;
    font-family:Palatino,Literata, Times;
    font-size:1rem;
    text-align:center;
    margin-top:100px;
}

#party{
  color:white;
  font-size:1.5rem;
  font-family:Palatino,Literata,Times;
  text-align:center;
}

#party1{
  color:white;
  display:inline-block;
  animation-name:party1;
  animation-duration:0.5s;
  animation-iteration-count:3;
  animation-delay:0.5s;
}

@keyframes party1{
  0% {color:white;}
  100%{color:red;}
}

#party2{
  color:white;
  display:inline-block;
  animation-name:party2;
  animation-duration:1s;
  animation-delay:1s;
  animation-iteration-count:2;
 
}

@keyframes party2{
  0%{color:white;}
  100%{color:green;}
}

#party4{
  display:inline-block;
  animation-name:party4;
  animation-duration:1s;
  animation-delay:3s;
  animation-iteration-count:2;
}

@keyframes party4{
  0%{color:white;}
  100%{color:hotpink;}
}

#party3{
  display:inline-block;
}



#party5 {
  display:inline-block;
}


#partyline2{
  text-align:center;
  color:white;
  font-size:1.5rem;
}

#partyline2_1{
  display:inline-block;
}



#partyline2_2{
  display:inline-block;
}

#partyline3_2{
  content:'A poem is written.';
  color:white;
}



#partyline2_3{
  display:inline-block;
  animation-name:partyline2_3;
  animation-duration:1s;
  animation-delay:2s;
  animation-iteration-count:4;
}

@keyframes partyline2_3{
  0%{color:white;}
  100%{color:turquoise;}
}




#partyline2_4{
  display:inline-block;
}



#partyline2_5{
  display:inline-block;
}



#partyline3{
  text-align:center;
  font-size:1.5rem;
  font-family:Palatino, Literata, Times;
  color:white;
}

#partyline3_1, #partyline3_2, #partyline3_3, #partyline3_4, #partyline3_5 {
  display:inline-block;
  
}

#partyline3_2_1{
  animation-name:text;
  animation-duration:3s;
  animation-delay:4s;
  opacity:0;
  display:inline-block;
  font-size:1.55rem;
  font-style:italic;
}

.label::selection{
  content:'A poem is written.';
  opacity:100;
}

.label:after{
  content:'_______________';
  opacity:0;
}

#partyline3_2{
  display:None;
}

@keyframes text{
  0%{opacity:0;}
  100%{opacity:100;}
}

#partyline3_5{
  animation-name:partyline3_5;
  animation-duration:1s;
  animation-delay:0.5s;
  animation-iteration-count:2;
}

@keyframes partyline3_5{
  0%{color:white;}
  100%{color:yellowgreen;}
}


#partyline4{
  text-align:center;
  color:white;
  font-size:1.5rem;
}

#partyline4_1, #partyline4_2, #partyline4_3, #partyline4_4, #partyline4_5{
  display:inline-block;
}

#partyline4_1{
  animation-name:partyline4_1;
  animation-delay:3s;
  animation-duration:1s;
  animation-iteration-count: 5;
}

@keyframes partyline4_1{
  0%{color:white;}
  100%{color:tomato;}
}

#partyline5{
  text-align:center;
  font-size:1.5rem;
  color:white;
}

#partyline5_1, #partyline5_2, #partyline5_3, #partyline5_4, #partyline5_5{
  display:inline-block;
}

#partyline5_2{
  animation-name:partyline5_2;
  animation-duration:1s;
  animation-delay:0.5s;
  animation-iteration-count:3;
}

@keyframes partyline5_2{
  0%{color:white;}
  100%{color:violet;}
}

#partyline5_4{
  animation-name:partyline5_4;
  animation-duration:1s;
  animation-delay:1s;
  animation-iteration-count:4;
}

@keyframes partyline5_4{
  0%{color:white;}
  100%{color:orangered;}
}


.content{
  margin-top:200px;
}

@media only screen and (min-width:800px){
  #party, #partyline2, #partyline3, #partyline4, #partyline5{
    font-size:2rem;
    line-height:130%;
  }

  #text{
    display:none;
  }

  #text2{
    color:white;
    font-family:Palatino,Literata, Times;
    font-size:1rem;
    text-align:center;
    margin-top:100px;
  }

  #party1:hover{
    color:pink;
    font-style:italic;
  }

  #party2:hover{
    color:green;
    font-style:bold;
  }

  @keyframes party1{
    visibility: hidden;
  }
 
  @keyframes party2{
    visibility: hidden;
  }

  @keyframes party4{
    visibility: hidden;
  }


  #party4:hover{
  color:yellowgreen;
  font-style:italic;
  }
  
  #party3:hover{
    color:tomato;
    font-style:bold;
  }

  #partyline5_1:hover{
    color:greenyellow;
  }
  
  #partyline5_2:hover{
    color:violet;
  }
  
  #partyline5_3:hover{
    color:teal;
  }
  
  #partyline5_4:hover{
    color:hotpink;
    text-transform:uppercase;
  }
  
  #partyline5_5:hover{
    color:orangered;
  }


#partyline4_1:hover{
  color:lightblue;
}

#partyline4_2:hover{
  color:orange;
}

#partyline4_3:hover{
  color:yellow;
}

#partyline4_4:hover{
  color:rgb(0, 255, 115);
}

#partyline4_5:hover{
  color:red;
}

#partyline2_1:hover{
  color:blue;
  font-style:italic;
}

#partyline2_2:hover{
  color:violet;
}

#partyline2_3:hover{
  color:orange;
}

#partyline2_4:hover{
  color:teal;
}

#partyline2_5:hover{
  color:hotpink;
  font-style:italic;
}

#partyline3_1:hover{
  color:purple;
}

#partyline3_2{
  display:inline-block;
}

.label:hover:after{
  content:'A poem is written.';
  opacity:100;
  font-style:italic;
}

.label:after{
  content:'_______________';
  opacity:0;
}


#partyline3_5:hover{
  color:yellow;
}


#party5:hover{
  color:red;
  font-style:italic;
}

@keyframes partyline2_3{
  visibility: hidden;
}

@keyframes partyline3_5{
  visibility: hidden;
}

@keyframes partyline4_1{
  visibility: hidden;
}

@keyframes partyline5_2{
  visibility: hidden;
}

@keyframes partyline5_4{
  visibility: hidden;
}

#partyline3_2_1{
  display:none;
}

}