body{
    background-image:radial-gradient( #26cdeb,#ff392b);
    font-family: 'Gilda Display', serif;
}

.header{
    display:flex;
}

.title{
    display:inline-block;
    font-size:0.8rem;}

.header-right{
    display:inline-block;
    text-align:right;
    position:absolute;
    right:10px;


}

.uptown:hover{
    color:pink;
}


.address{
    margin-top:80px;
   margin-left:auto;
   margin-right:auto;
}

.location{
    text-align:center;
    
}

h3{
    font-size:1.5rem;
}

h2{
    font-size:1.2rem;
}

.tags {
    display:block;
  
}

.tag1, .tag2, .tag3{
    display:inline-block;
}

a{
    text-decoration:none;
    color:black;
}

