body {
    background:#0a0a0a;
    color:white;
    font-family: Palatino, Literata, Times;
    font-size:10px;
}

#credits{
    text-align:right;
    display:inline-block;
}

#credits_right{
    text-align:left;
    display:inline-block;
    margin-left:10px;

}

.end{
    line-height:200%;

    margin-top:100px;
    text-align:center;
}

.last{
    text-align:center;
    padding:0vh;
    margin-top:50px;
}

#theend{
    font-size:4rem;
    color:white;
    display:inline-block;
    padding-bottom:100px;
    font-style:cursive;
}

#thanks{
    line-height:150%;
}


@media only screen and (min-width:800px){
    body{
        font-size:0.8rem;
        font-family:Arial;
    }

    #theend{
        font-size:5rem;
        font-style:italic;

    }
}