body{
    background:#0a0a0a;
    color:white;
    font-family:Palatino, Literata, Times; 
}

#objective{
   margin-left:30px;
   margin-top:40px;

}

ul, ol{
    line-height:150%;
}

#list {
    list-style-position:inside;
    margin-top:50px;
    
}

.listcontainer{
    margin-left:30px;
    
}



#drag{
    display:none;
}

p{
    font-size:14px;
    width:80%;
    line-height:150%;
    margin-left:30px;
}


.interaction{
    display:none;
}

#direction{
    display:none;
}

#fruit{
    
    text-align:center;
  
}

#drag1, #drag2, #drag3, #drag4 {
    display:none;
}

#plant {
    text-align:center;
}



@media only screen and (min-width:800px){
    #div {
    width:70px;
    height:30px;
    border-radius:50%;
    padding:10px;
    border:1px solid white;
    
    display:inline;
    

    }

   

    #div2{
        width:60px;
        height:30px;
        border-radius:50%;
        padding:10px;
        border:1px solid white;
        position:fixed;
               
    }

    #div3{
        width:70px;
        height:30px;
        border-radius:50%;
        padding:10px;
        border:1px solid white;
        position:fixed;
        
 
    }

    #div4{
        width:55px;
        height:30px;
        border-radius:50%;
        padding:10px;
        border:1px solid white;
    }



    #drag, #drag2, #drag3, #drag4{
    font-size:30px;
    cursor:move;
    color:white;
    display:inline-block;
    padding:5px;
    }

    .container{
        text-align:center;
    }

    #direction{
        display:inline-block;
        margin-top:100px;
        font-size:20px;
    }



    .mobile{
        display:none;
    }

    .interaction{
        display:flex;
        place-content:center;
        margin-top:100px;
    }

    .interaction2{
        display:flex;
        place-content:center;
        margin-top:10px;
    }

    .interaction3{
        display:flex;
        place-content:center;
        margin-top:10px;
    }

    .interaction4{
        display:flex;
        place-content:center;
        margin-top:10px;
    }



    .words{
        text-align:center;
       
        margin-top:50px;

    }

   

   
    
}