body{
    background:#0a0a0a;
    color:white;
}

#container{
    text-align:center;
}

#text{
    font-size:20pt;
    display:inline-block;
    margin-top:100px;
}

/* #line{
    font-size:30pt;
} */

#sign {
    display:none;
}

.container2{
    text-align:center;
}

div{
    display:inline-block;
    height:300px;
    width:80%;
    font-family: "Cedarville Cursive";
    font-size:25pt;
    color:white;
}

@import url (https://fonts.googleapis.com/css?family=Cedarville+Cursive);

@media only screen and (min-width:800px){
    #body{
        width: 100%;
        background-size:cover;
    }
    #text{
        font-size:30pt;
        text-align:center;
        margin-top:80px;
        letter-spacing: 2px;
    }

    #sign{
        text-align:center;
        margin-top:100px;
    }

    

}